# ===============================
# Python
# ===============================
__pycache__/
*.py[cod]
*.pyo

# Virtual Environment
venv/
.venv/

# Environment Variables
.env

# ML Models
*.pkl

# ===============================
# React / Vite
# ===============================
node_modules/
dist/
.vite/

# ===============================
# IDE
# ===============================
.vscode/
.idea/

# ===============================
# OS
# ===============================
.DS_Store
Thumbs.db